body,html{
  margin: 10;
  padding: 10;
  width: 100%;
 
  font-family: sans-serif;
}
.App {
  width: 100%;
 
  overflow: hidden;
  position: relative;
  background-image: url(/src/img/Starwars.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /* justify-content: center; */
  animation: change 20s infinite ease-in-out;
}

.header {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  color:white;
  background-color: black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list {
  color:#000000;
  text-align: center;
  display: flex;
 
  flex-direction: column;
  justify-content: center;
  width: 20%;
  
  border: 3px solid #1C315E;
  border-radius: 27px;
  padding: 50px;
  margin: 15px;
  background-color: #EDEDED;
}






@keyframes change{ 
  
  0%
  {
      background-image: url(/src/img/Starwars.jpg);
  }
  20%
  {
      background-image: url(/src/img/Starwars1.jpg);
  }
  40%
  {
      background-image: url(/src/img/Starwars2.jpg);
  }
  60%
  {
      background-image: url(/src/img/Starwars3.jpg);
  }
  80%
  {
      background-image: url(/src/img/Starwars4.jpg);
  }
  100%
  {
      background-image: url(/src/img/Starwars5.jpg);
  }
}
